*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(142, 179, 148);
}

header {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: rgb(160, 235, 176);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 30%;
}



.logo img{
    display: flex;
    width: 150px;
    height: 150px;
}

.pesquisa input {
    display: flex;
    align-items: center;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.pesquisa{
    display: flex;
    gap: 10px;
    width: 70%;
}

button{
    display: flex;
    border-radius: 10px;
    border: none;
}

button img{
    display: flex;
    width: 40px;

}

main{
    display: flex;
    width: 100%;
    padding: 40px;
}
.dogs{
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.label{
    margin-top: 15px;
    display: flex;
    align-items: start;
    width: 400px;
    height: 410px;
    justify-content: center;
    background-color: rgb(243, 242, 242);
}

.label img{
    padding: 10px;
    width: 100%;
    height: 90%;
    object-fit: contain;
    max-width: 350px;
    
}